{% extends "layout.html" %}
{% block content %}

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    
      <div class="input-translate input-group mb-3">
        {{ form.text(class="form-control", placeholder="Insert text") }}
          <div class="input-group-append">
            {{ form.submit(class="btn btn-secondary", id="button-addon2") }}
          </div>
      </div>
  </form>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">Spanish</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for translation in translations %}
        <tr>
          <th scope="row">{{ translation.text }}</th>
          <td>{{ translation.translated }}</td>
          <td>{{ translation.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}