{% extends "layout.html" %}
{% block content %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    
      <div class="input-translate input-group mb-3">
        {{ form.text(class="form-control", placeholder="Insert text") }}
          <div class="input-group-append">
            {{ form.submit(class="btn btn-secondary", id="button-addon2") }}
          </div>
      </div>
  </form>

  <div class="translations rounded">
      <table class="table table-translations table-borderless">
          <thead>
            <tr>
              <th scope="col">English</th>
              <th scope="col">Spanish</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for translation in translations %}
              <tr>
                <td>{{ translation.text }}</td>
                <th>{{ translation.translated_text }}</th>
                <td class="{{ translation.status }}">{{ translation.status_text }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
{% endblock content %}