{% extends "layout.html" %}
{% block content %}
  <div class="input-translate input-group mb-3">
      <input type="text" class="form-control" placeholder="Insert text" aria-label="Insert Text " aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" id="button-addon2">Translate</button>
      </div>
  </div>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">Spanish</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for translation in translations %}
        <tr>
          <th scope="row">{{ translation.en_UK }}</th>
          <td>{{ translation.es_ES }}</td>
          <td>{{ translation.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}